@import url("//maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css");

/* header.css */

/* header.css */

.logo {
  display: flex;
  align-items: center;
}

.logo i {
  margin-right: 8px; /* Espaçamento entre o ícone e o texto */
}

.navbar-brand {
  display: flex;
  align-items: center;
}

.navbar-nav {
  margin-left: auto; /* Empurra os itens para a direita */
}

.navbar-icon-top .navbar-nav .nav-link > .fa {
  position: relative;
  width: 36px;
  font-size: 24px;
}

.navbar-icon-top .navbar-nav .nav-link > .fa > .badge {
  font-size: 0.75rem;
  position: absolute;
  right: 0;
  font-family: sans-serif;
}

.navbar-icon-top .navbar-nav .nav-link > .fa {
  top: 3px;
  line-height: 12px;
}

.navbar-icon-top .navbar-nav .nav-link > .fa > .badge {
  top: -10px;
}

/* Remova as regras de mídia para simplificar */
